In [ ]:
"""
a=[]tna
tname=input("enter the table name")
while True:
    column=input('enter column name data types and constraints or "break":')
    if column=="break":
       break 
    a.append(column)
b=tuple(a) 
print(b)
#query=f'create table {tname} {b}'
cur.execute(query)
"""

In [24]:
import pymysql
conn=pymysql.connect(
    host='localhost',
    user='root',
    password='(IMis1810)',
    database='pywit'
)
cur = conn.cursor()
def createTable(tname):
    t=f'''create table {tname}(id int primary key auto_increment,
    name varchar (20),dob date,location varchar(20))'''
    cur.execute(t)
#createTable("xyz") 
def Rename(oldname,newname):
    query=f'''alter table {oldname} rename to {newname} '''
    cur.execute(query)
    print(f"you have successfully rename the table from {oldname} to {newname}")
#Rename('XYZ','xyzData')   

def AddColumn(tname,cname):
    query=f"alter table {tname} add column {cname}"
    cur.execute(query)
    print('new coloumn {cname} successfully added')
#AddColumn('xyzdata','city varchar(20) not null') 

def ColumnRename(tname,coldname,cnewname):
    query=f"alter table {tname} change {coldname} {cnewname}"
    cur.execute(query)
    print(f'column rename  successfully from {coldname} to {cnewname}')
#ColumnRename('xyzdata','mycity','ycity varchar(50)')   

def ModifyColumn(tname,cname,dtype):
    query=f'alter table {tname} modify column {cname} {dtype}'
    cur.execute(query)
    print(f"modify your column succesfully")
#ModifyColumn('xyzdata','mycity','varchar(100)')    


def TableDelete(tname):
    try:
        query=f'drop table {tname}'
        cur.execute(query)
        conn.commit()
        print(f"Table {tname} deleted successfully...")
    except :
        print("Kindly check wheter table is present or not")
#TableDelete('newdata') 

def Truncate(tname):
    query=f'truncate table {tname}'
    cur.execute(query)
    print(f"Table {tname} truncated successfully...")
#Truncate('newdata') 

def DataInsert( tname, name, dob, location, ycity):
    try:
        cur = conn.cursor()
        query = f"INSERT INTO {tname} (name, dob, location, ycity) VALUES (%s, %s, %s, %s)"
        values = (name, dob, location, ycity)
        cur.execute(query, values)
        conn.commit()
        cur.close()
        print("Data Inserted successfully...")
    except pymysql.Error as e:
        print(f"Error in DataInsert: {e}")

# Call the function
#DataInsert('xyzdata', 'Ganga', '2024-10-02', 'xyz', 'solapur')
#DataInsert('xyzdata', 'Imran', '2025-11-12', 'ABC', 'solapur')
def DeleteData(tname,id1):
    try:
        query=f'delete from {tname} where id={id1}'
        cur.execute(query)
        conn.commit()
    except:
        print("Error in DeleteData function")
        
def DeleteName(tname,name):
    try:
        query=f'delete from {tname} where id={name}'
        cur.execute(query)
        conn.commit()
    except:
        print("Error in Deletename function")


def updateData(tname,id1):
    cur.execute(f'select * from {tname} where id={id1}')
    a=cur.fetchone()
    
    def upin(name,dob,address):
        cur.execute(f'update {tname} set name=%s,dob=%s,address=%s where id=%s',(name,dob,address,id1))
        conn.commit()
    upin(name='Prachi',dob=a[2],address=a[3])
#updateData('xyzdata',2)


def DataInsertMany(tname,*data):
   # try:
        query=f"insert into {tname} (name,dob,location,ycity) values(%s,%s,%s,%s)"
        value=list(data)#value=data
        cur.executemany(query,value)
        conn.commit()
        print("Data inserted successfully..")
    
#DataInsertMany('xyzdata',('Ishu','2027-02-13','PQR','Pune'),('Imu','2028-12-14','JKL','Sune'))

In [29]:
a=[]
tname=input("enter the table name")
while True:
    column=input('enter column name data types and constraints or "break":')
    if column=="break":
       break 
    a.append(column)
a1=",".join(a)
print(a1)
query=f'create table {tname} ({a1})'
cur.execute(query)
print("Run")

enter the table name data
enter column name data types and constraints or "break": id int
enter column name data types and constraints or "break": name varchar(20)
enter column name data types and constraints or "break": break

id int,name varchar(20)
Run

In [61]:
import pymysql
conn=pymysql.connect(
    host='localhost',
    user='root',
    password='(IMis1810)',
    database='pywit'
)
cur = conn.cursor()
"""
def createTable(tname):
    t=f'''create table {tname}(stu_seat int primary key auto_increment,
    name varchar (20),dob date,clg_name varchar(20))'''
    cur.execute(t)
createTable("Student_Info") 

def createTable(tname):
    t=f'''create table {tname}(mid int primary key auto_increment,
    phy int,chem int, bio int, eng int, mar int, mat int,stu_seat int,foreign key(stu_seat)
    references Student_Info(stu_seat))'''
    cur.execute(t)
createTable("Marks") 

def DataInsertMany(tname,*data):

        query=f"insert into {tname} (stu_seat,name,dob,clg_name) values(%s,%s,%s,%s)"
        value=list(data)#value=data
        cur.executemany(query,value)
        conn.commit()
        print("Data inserted successfully..")
    
DataInsertMany('Student_Info',(1,'Ganga','2027-02-13','ABC'),(2,'Ishu','2026-02-13','XYZ'),(3,'Imran','2029-02-13','PQR'))

def DataInsertMany(tname,*data):

        query=f"insert into {tname} (mid,phy,chem,bio,eng,mar,mat,stu_seat) values(%s,%s,%s,%s,%s,%s,%s,%s)"
        value=list(data)#value=data
        cur.executemany(query,value)
        conn.commit()
        print("Data inserted successfully..")
    
DataInsertMany('Marks',(101,40,50,40,80,90,70,1),(102,80,70,90,80,60,90,2),(103,60,80,40,100,50,60,3))
"""

'\ndef createTable(tname):\n    t=f\'\'\'create table {tname}(stu_seat int primary key auto_increment,\n    name varchar (20),dob date,clg_name varchar(20))\'\'\'\n    cur.execute(t)\ncreateTable("Student_Info") \n\ndef createTable(tname):\n    t=f\'\'\'create table {tname}(mid int primary key auto_increment,\n    phy int,chem int, bio int, eng int, mar int, mat int,stu_seat int,foreign key(stu_seat)\n    references Student_Info(stu_seat))\'\'\'\n    cur.execute(t)\ncreateTable("Marks") \n\ndef DataInsertMany(tname,*data):\n\n        query=f"insert into {tname} (stu_seat,name,dob,clg_name) values(%s,%s,%s,%s)"\n        value=list(data)#value=data\n        cur.executemany(query,value)\n        conn.commit()\n        print("Data inserted successfully..")\n    \nDataInsertMany(\'Student_Info\',(1,\'Ganga\',\'2027-02-13\',\'ABC\'),(2,\'Ishu\',\'2026-02-13\',\'XYZ\'),(3,\'Imran\',\'2029-02-13\',\'PQR\'))\n\ndef DataInsertMany(tname,*data):\n\n        query=f"insert into {tname} (mid,phy,chem,bio,eng,mar,mat,stu_seat) values(%s,%s,%s,%s,%s,%s,%s,%s)"\n        value=list(data)#value=data\n        cur.executemany(query,value)\n        conn.commit()\n        print("Data inserted successfully..")\n    \nDataInsertMany(\'Marks\',(101,40,50,40,80,90,70,1),(102,80,70,90,80,60,90,2),(103,60,80,40,100,50,60,3))\n'